.section__header {
  &-link {
    text-decoration: none;
    color: black;
    font-weight: 800;
  }
}
.category {
  margin: 20px 0;
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto, 1fr);

  &__link {
    padding: 55px;
    border: 2px solid black;
    transition: all 0.2s;
    &:hover {
      background-color: aqua;
      transform: translateY(-5px);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
